.card{
    position: relative;
}
.count{
    position: absolute;
    right: 0;
    top: 0;
}
.preview{

}
.price{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}
.name{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
