.profileMenu, .profileMenu li{
  margin: 0;
  padding: 0;
  list-style: none;
}
.profileMenu{
  margin-bottom: 80px;
}
.profileMenu a{
  height: 64px;
  display: flex;
  align-items: center;
}
.profileMenuActive{
  color: white;
}
.profileMenu a:hover{
  color: white;
  text-decoration: none;
}
