.content{
  display: grid;
  grid-template-rows: auto 1fr auto;
  overflow: hidden;
  height: calc(100vh - 270px);
}
.top{
  grid-row: 1;
  overflow: hidden;
}
.center{
  overflow-x: hidden;
  overflow-y: auto;
  grid-row: 2;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.bottom{
  grid-row: 3;
  margin-bottom: 40px;
  overflow: hidden;
}
