.content{
  display: grid;
  grid-template-rows: auto 1fr auto;
  overflow: hidden;
  height: var(--height-container);
  padding-bottom: 20px;
}
.top{
  grid-row: 1;
  overflow: hidden;
}
.center{
  overflow-x: hidden;
  overflow-y: auto;
  grid-row: 2;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.bottom{
  grid-row: 3;
  margin-bottom: 40px;
  overflow: hidden;
}
.selectBun, .selectElement, .selectBunButtom{
  padding: 16px 24px;
  border-radius: var(--common-border-radius-s);
  background: var(--background-element);
  min-height: 80px;
  font-size: 16px;
  line-height: 24px;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 536px;
}
.selectBun{
  border-radius: var(--top-constructor-item-border-radius);
}
.selectBunButtom{
  border-radius: var(--bottom-constructor-item-border-radius);
}
.activeDrop .selectBun, .activeDrop .selectElement, .activeDrop .selectBunButtom{
  opacity: .7;
}
