.modal {
  background: var(--background-modal);
  border-radius: 40px;
  width: 720px;
  min-height: 300px;
  position: relative;
}
.close{
  position: absolute;
  cursor: pointer;
  padding: 10px;
  right: 30px;
  top: 50px;
  transition: opacity 0.2s ease-in;
}
.close:hover{
  opacity: 0.7;
}
