.container {
  width: var(--content-width);
  margin: auto;
  display: flex;
  padding: 0 20px;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
}
.container > * {
  width: 600px;
}
.ingredientContainer {
  display: flex;
  justify-content: center;
  padding-top: 120px;
}
.ingredientContent {
  width: 640px;
  text-align: center;
}
.authContainer {
  display: flex;
  justify-content: center;
  padding-top: 180px;
}
.authContent {
  width: 480px;
  text-align: center;
}
.orderContainer {
  display: flex;
  justify-content: center;
  padding-top: 122px;
  height: calc(var(--height-container) + 120px);
  overflow: auto;
}
.orderContent {
  width: 640px;
}
.authFooter p {
  color: var(--secondary);
  font-size: 16px;
}
.authFooter a {
  margin-left: 6px;
}
.profileContainer {
  width: var(--content-width);
  margin: auto;
  display: flex;
  padding: 120px 20px 0 20px;
}
.profileLeftSide {
  width: 320px;
}
.profileRightSide {
  text-align: center;
}
.orderRightSide {
  margin-top: -80px;
  flex: 1;
  overflow-x: hidden;
  overflow-y: auto;
  height: calc(var(--height-container) + 80px);
}
.profileFooter p {
}
