.container{
    width: var(--content-width);
    margin: auto;
    display: flex;
    padding: 0 20px;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
}
.container > *{
    width: 600px;
}
.authContainer{
    display: flex;
    justify-content: center;
    padding-top: 180px;
}
.authContent{
    width: 480px;
    text-align: center;
}
.authFooter p{
    color: var(--secondary);
    font-size: 16px;
}
.authFooter a{
    margin-left: 6px;
}
.profileContainer{
    width: var(--content-width);
    margin: auto;
    display: flex;
    padding: 120px 20px 0 20px;
}
.profileLeftSide{
    width: 320px;
}
.profileRightSide{
    text-align: center;
}
.profileMenu, .profileMenu li{
    margin: 0;
    padding: 0;
    list-style: none;
}
.profileMenu{
    margin-bottom: 80px;
}
.profileMenu a{
    color: var(--secondary);
    height: 64px;
    display: flex;
    align-items: center;
}
.profileMenu a:hover{
    color: white;
    text-decoration: none;
}
.profileFooter p{

}
