:root {
  --background: #131316;
  --background-2: #1c1c21;
  --white: white;
  --secondary: #8585ad;
  --content-width: 1280px;
  --color-link: #4c4cff;
  --color-warning: #f0ad4e4a;
  --color-danger: rgba(255, 0, 0, 0.67);
  --color-error: #ff00004a;
  --color-info: #5bc0de4a;
  --overlay-background: rgba(0, 0, 0, 0.7);
  --color-ingradient-1: #801ab3;
  --color-ingradient-2: #4c4cff;
  --color-success: #00CCCC;
  --height-container: calc(100vh - 250px)
}
body {
  background-color: var(--background);
  color: var(--white);
  font-family: 'Jet Brains Mono', sans-serif;
  padding: 40px;
  height: 100vh;
  overflow: hidden;
}
#root,
main {
  /*height: 100%;*/
}
.ml-a {
  margin-left: auto;
}
.mr-a {
  margin-right: auto;
}
* {
  box-sizing: border-box;
}
a {
  color: var(--color-link);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
