.navItem{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    color: var(--secondary);
    padding: 0 20px;
    height: 56px;
    text-decoration: none;
    border-radius: 40px;
}
.navItemActive{
    color: var(--white);
}
.menu{
    display: flex;
}
.logo{
    text-align: center;
}
.header{
    background-color: var(--background-2);
    margin-left: -400px;
    margin-right: -400px;
    padding-left: 400px;
    padding-right: 400px;
}
.content{
    width: var(--content-width);
    margin: auto;
}
.leftButtons{
    display: flex;
    margin-right: auto;
    flex: 1;
}
.rightButtons{
    display: flex;
    margin-left: auto;
    flex: 1;
}
